body{
    background-image: url(../images/atardecer.jpg);
    background-size: cover;
}

p{
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 18px;
    text-align: center;
    margin: 0.25em;
    letter-spacing: -.03em;
    word-spacing: -.03em;
    line-height: .8em;
}

.box{
    display: flex;
    width: 150px;
    height: 150px;
    border: 10px dashed rgb(33, 246, 36);
    background-color: rgb(112, 56, 231);
    margin-bottom: 50px;
    margin-top: 100px;
  
}

.box1{
    display: flex;
    width: 150px;
    height: 150px;
    border: 10px dotted black;
    background-color: rgb(222, 159, 95);
    margin-left: 200px; 
    margin-bottom: 50px;
    margin-top: -221px;
}

.box2{
    display: flex;
    width: 150px;
    height: 150px;
    border: 10px solid black;
    background-color: aqua;
    margin-left: 400px; 
    margin-bottom: -655px;
    margin-top: -221px; 
}

.box3{
    display: flex;
    width: 150px;
    height: 150px;
    border: 10px double black;
    background-color: rgb(211, 53, 137);
    margin-left: 600px; 
    margin-bottom: 50px;
    margin-top: 485px;
}

.box4{
    display: flex;
    width: 150px;
    height: 150px;
    border: 10px groove rgb(218, 38, 38);
    background-color: rgb(232, 230, 91);
    margin-left: 800px; 
    margin-bottom: 50px;
    margin-top: -220px;
}

section .circulo span{
    position: absolute;
    margin-left: 480px;
    height: 10px;
    width: 10px;
    border-radius: 500px;
    transform: rotate(calc(var(--i) * (360deg / 15))) translateY(35px);
    background: rgb(240, 253, 117);
    animation: animate 1.5s linear infinite;
    animation-delay: calc(var(--i)*0.1s);
    opacity: 0;
}

@keyframes animate{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

